.testimonial-container {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25px;
}

.testimonial {
  background-color: #f1fff2;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
