.hero-container {
    background-color: #f7f5eb;
    padding: 50px 0;
    
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-text {
    flex: 1;
    padding: 0 20px;
    font-size: 1.8rem;
  }
  .welcome-message{
    color: #6ed26f;
    font-size: 1em;
  }
  .order-message {
    font-size: medium;
  }
  .purchase-message {
    background-color: #6ed26f;
    border-radius: 25px;
    height: 30px;
  }
  .hero-image {
    flex: 1;
    max-width: 100%;
    margin-top: 1em;
    width: 900px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
   
  }
  
  .products {
    background-color: #F1FFF2;
  }
  .feature-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .featured-products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
  }
  .featured-item {
    flex-basis: 20%;
    /* margin-bottom: 20px; */
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid #FEFFFD;
  }
  .featured-item img {
    width: 80%;
    height: auto;
  }